* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.header img {
  width: 46px;
  height: 46px;
}
.header-info {
  display: flex;
  margin-right: 15%;
  margin: auto;
}
.header-info .text-wrapper {
  margin: auto;
  margin-right: 10px;
}
.header-info .copyright {
  display: block;
  color: #b6b6b6;
}
.header-info .author-avatar {
  border-radius: 50%;
}
.header-info .author-name {
  display: flex;
  justify-content: end;
  color: #707070;
}
.top {
  background-color: #27b363;
  height: 160px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top div {
  text-align: center;
}
.top .title {
  font-size: 30px;
  display: block;
  margin-bottom: 15px;
}
.top div span {
  font-size: 12px;
}
.header .logo {
  margin: auto;
}

.bottom .flex-wrapper {
  display: flex;
  justify-content: center;
}
.bottom .content {
  color: #666666;
}
.bottom .content-wrapper {
  height: fit-content;
  margin-top: 5%;
  line-height: 1.4;
}
.bottom .button-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 10px;
  padding: 8px 10px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-item + .flex-item {
  margin-left: 10px;
}

.btn {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 170px;
}

.btn-like {
  background-color: #2c7edc;
}

.btn-dislike {
  background-color: #27b363;
}

.w60 {
  width: 60%;
}
footer {
  margin-top: 80px;
  padding: 30px 0;
  border-top: 1px solid #b6b6b6;
}
footer .company-des {
  margin: auto;
  color: #b6b6b6;
  width: 65%;
  text-align: center;
  line-height: 1.4;
}
footer .company-copyright{
  color: #666666;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 767px) {
  .header .logo {
    margin-left: 20%;
  }
  .header-info {
    margin-right: 15%;
  }
}

@media (max-width: 766px) {
  .header .logo {
    margin-left: 10%;
  }
  .header-info {
    margin-right: 5%;
  }
  .top .title{
    font-size: 18px;
    font-weight: normal;
  }
  .bottom .content-wrapper {
    width: 80%;
  }
  .btn {
    width: unset;
  }
  footer .company-des {
    width: 90%;
  }
}
