﻿@model HomeVm

@section Scripts{
    <script async="async" defer="defer" src="~/js/site.js" asp-append-version="true"></script>
}
<div class="body">
    <section class="top">
        <div>
            <strong class="title">A joke a day keeps the doctor away</strong>
            <span>If you joke wrong way, your teeth have to pay. (Serious)</span>
        </div>
    </section>
    <section class="bottom">
        <div class="flex-wrapper">
            <div class="content-wrapper w60">
                @{
                    @Html.Partial("_jokeContentPartial", Model.Joke)
                }
            </div>
        </div>
        <div class="button-wrapper">
            <button class="btn btn-like">This is Funny!</button>
            <button class="btn btn-dislike">This is not funny.</button>
        </div>
    </section>
</div>