﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Jokee Single Serving Website</title>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header class="header">
    <img alt="logo" class="logo" src="~/images/logo.png"/>
    <div class="header-info">
        <div class="text-wrapper">
            <span class="copyright">Handicrafted by</span>
            <span class="author-name">Jim HLS</span>
        </div>
        <img alt="author-avatar"
             src="~/images/HD-wallpaper-sunflower-happyness-smile.jpg"
             class="author-avatar"/>
    </div>
</header>
@RenderBody()
<footer>
    <div class="company-des">
        <p>
            This website is created as part of Hlsolutions program. The materials
            contained on this website are provided for general information only
            and do not constitute any form of advice. HLS assumes no
            responsibility for the accuracy of any particular statement and
            accepts no liability for any loss or damage which may arise from
            reliance on the information contained on this site.
        </p>
    </div>
    <div class="company-copyright">Copyright 2021 HLS</div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>